<mat-card class="register-card">
  <mat-card-header>
      <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="form-field">
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('email')">
          Insert a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('alreadyUsed')">
          Email already in use
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="form.controls.password.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.password.hasError('pattern')">
          The password must contain at least one uppercase and one lowercase character and a digit and be at least 6 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput type="password" placeholder="Confirm Password" formControlName="confPassword">
        <mat-error *ngIf="form.controls.confPassword.hasError('required')">
          Confirm Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.confPassword.hasError('passwordNotEquivalent')">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button (click)="register()">Register</button>
      </div>
    </form>
    <div class="login-label">
      Altready registered? <a href="/login">Login</a>
    </div>
  </mat-card-content>
</mat-card>
