<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>{{routes[pag.pageIndex].line.name}}</mat-card-title>
      <mat-card-subtitle>{{routes[pag.pageIndex].date.toLocaleDateString("en-GB",{
                                                                                    weekday: 'short',
                                                                                    year: 'numeric',
                                                                                    month: 'long',
                                                                                    day: 'numeric'
                                                                                   })}}</mat-card-subtitle>
      <mat-paginator #pag
                     [pageIndex] = "findClosestRoute()"
                     [length]="pageCount"
                     [pageSize]="pageSize"
                     (page)="pageEvent = $event"
                     class='paginatorButtons'
                     hidePageSize='true'>
      </mat-paginator>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group mat-align-tabs='center'>
      <mat-tab label="Outbound"> 
        <mat-list>
            <mat-list-item *ngFor="let stop of routes[pag.pageIndex].pathO"> 
              <h4 mat-line>{{stop.stopTime}} {{stop.name}}</h4>
              <mat-chip-list mat-line>
                <mat-chip *ngFor="let child of stop.passengers" (click)="onChildClick(child)" [class.childPresent] = "!child.present">
                  {{child.name}}
                </mat-chip>
              </mat-chip-list>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Return">
          <mat-list>
              <mat-list-item *ngFor="let stop of routes[pag.pageIndex].pathR"> 
                <h4 mat-line>{{stop.stopTime}} {{stop.name}}</h4>
                <mat-chip-list mat-line>
                  <mat-chip *ngFor="let child of stop.passengers" (click)="onChildClick(child)" [class.childPresent] = "!child.present">
                    {{child.name}}
                  </mat-chip>
                </mat-chip-list>
            </mat-list-item>
          </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
